/* src/components/Footer/Footer.css */
.footer-container {
    background-color: #f2f2f2; /* Cinza claro */
    padding: 1rem 0;
    border-top: 1px solid #eee; /* Linha cinza clara na parte superior */
  }
  
  .footer {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center; /* Centraliza o texto */
    font-size: 0.9rem;
    color: #5f6368; /* Cinza escuro do Google */
  }
  